<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

  {% assign share_url = page.url | absolute_url %}
  {% assign share_url_length_minus_1 = share_url | size | minus: 1 %}
  {% assign thumbnail_image_suffix = "_thumbnail.png" %}
  <a style="border:1px solid black;" href="https://pinterest.com/pin/create/button/?url={{ share_url | url_encode }}&media={{ share_url | slice: 0, share_url_length_minus_1 | append: thumbnail_image_suffix | url_encode }}&description={{ page.title }}&method=button" class="btn" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Pinterest">
    <span> Pinterest</span></a>
</section>