<section class="page__share">
  <h4 class="page__share-title">Share on</h4>
<!--  {% if site.data.ui-text[site.locale].share_on_label %}-->
<!--    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>-->
<!--  {% endif %}-->

  <a style="border:1px solid black;" href="https://pinterest.com/pin/create/button/?url={{ page.url | absolute_url | url_encode }}&media={{ page.header.teaser | absolute_url | url_encode }}&description={{ page.title }}&method=button" class="btn" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Pinterest">
    <span> Pinterest</span></a>
</section>